<!DOCTYPE html>
<html lang="en">
{{ partial "head/head.html" . }}
<body>

    <!-- Preloader end -->
    {{ partial "head/header.html" . }}

    {{ partial "components/banner.html" . }}

    {{ partial "components/about-section.html" . }}

    {{ partial "components/service-section.html" . }}

    {{ partial "components/cta-truck.html" . }}

    {{ partial "components/coupons.html" . }} 
    
    {{ partial "components/why-choose-us.html" . }} 

    {{ partial "components/testimonials.html" . }} 

    {{ partial "components/proudly-serving.html" . }} 

    {{ partial "components/cartoon-cta.html" . }}
    {{ partial "footer/footer.html" . }} 

{{ partial "footer/scripts.html" . }}

</body>

</html>