@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    overflow-x: hidden;
    position: relative !important;
}

.gallery-info > img {
    border: 1px solid #777;
    cursor: pointer;
    opacity: .77;
}

.gallery-info > img:hover {
    opacity: 1;
}

#our-gallery {
    margin: 1em auto;
    text-align: center;
}
#our-gallery + p {
    margin: 1em auto;
    max-width: 60ch;
}

.full-gallery {
    background: rgba(15,15,15,0.75);
    display: none;
    height: 100vh;
    left: 0;
    margin: 0 auto;
    position: fixed !important;
    top: 0;
    width: 100vw;
    z-index: 9999;
}

.gallery-container {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}
.gallery-container-item {
    display: none;
    margin: 1em auto;
    min-height: 75vh;
    min-width: 75vh;
}



.gallery-container-item > figure > img {
    animation: fadeIn 350ms;
    border: 1px solid #fff;
    border-radius: 10px;
    display: block;
    height: auto;
    left: 50%;
    margin: 1em auto;
    max-width: 75%;
    max-height: 75vh;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: 250ms ease-in-out;
}



#close {
    color: #fff;
    cursor: pointer;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    right: 1.5em;
    top: 1em;
    transition: 250ms ease-in-out;
}

#close:hover {
    transform: rotate(90deg);
}

#backward,
#forward {
    color: #fff;
    cursor: pointer;
    font-size: 3em;
    font-weight: bold;
    padding: .25em;
    position: absolute;
    top: 50%;
    transition: 250ms ease-in-out;
}

#backward:hover,
#forward:hover {
    background-color: #fff;
    color: #000;
}

#backward {
    left: 1em;
}

#forward {
    right: 1em;
}


@media screen and (min-width: 1365px) {
    #backward {
        left: 4em;
    }
    
    #forward {
        right: 4em;
    }

}