<!-- About start -->
<section class="about pt-105 pt-xs-100 pb-100 bg-dot-right">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-image shadow-1 ml-10 mb-md-30 relative">
                    <img src="{{ .Site.BaseURL }}img/lennox.png" class="w-100" alt="lennox brand air conditioning">
                    <div class="about-count shadow-blue bg-blue bg-blue-opacity white">
                        <p class="fs-19">Proudly Serving Venus, Texas</p>
                        <h3 class="fs-45 f-700"><span class="counter">12</span>+</h3>
                        <p class="fs-19">Years!</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-div pl-20">

                    <h1 class="mb-15">Quality Heating & Cooling Services</h1>
                    <p>We provide customers with an industry leading 10-year installation warranty and a two-year service and repair warranty. With most companies, you will get a standard manufacturers warranty on installations and a one-year warranty on service and repair work. </p>

                    <p>We believe our warranties set us apart from our competitors and show our commitment to quality work and service. </p>

                    <h3><i>Bring Comfort Home Now!</i></h3>


                    <ul class="check-list half-list mb-15 mt-20">
                        <li><span><i class="fas fa-check"></i></span>Cost Effective</li>
                        <li><span><i class="fas fa-check"></i></span>Insured and Bonded</li>
                        <li><span><i class="fas fa-check"></i></span>100% Satisfaction </li>
                        <li><span><i class="fas fa-check"></i></span>Quality Services</li>
                    </ul>
                    <a href="{{ .Site.BaseURL }}contact-us" class="btn btn-blue shine-btn">Book Now</a>
                </div>
                <img src="{{ .Site.BaseURL }}img/other/clean.png" class="about-bg-icon" alt="hvac">
            </div>
        </div>
    </div>
</section>
<!-- About end -->