<!-- Banner start -->
<section class="slider-3 relative">
    <div class="owl-carousel owl-theme main-slider">
        <div class="item">
            <div class="each-slider flex-center" style="background-image: url('{{ .Site.BaseURL }}img/banner/banner-1.jpg')"
                data-overlay="3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <div class="banner-text-left white z-5">
                                <h1 class="black lh-11 mb-10 f-700 text-shadow"><span class="blue f-900">Bringing Comfort</span> To Your Home Fast</h1>
                                <p class="fs-17 mb-25 white text-shadow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus doloremque commodi labore alias perferendis suscipit, quibusdam hic exercitationem vitae corporis?</p>
                                <a href="{{ .Site.BaseURL }}contact-us" class="btn btn-blue shine-btn mr-20">Book Now</a>
                                <a href="{{ .Site.BaseURL }}services" class="btn btn-blue shine-btn">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="{{ .Site.BaseURL }}/img/other/dots.png" alt="" class="dots-img">
            </div>
        </div>
        <div class="item">
            <div class="each-slider flex-center" style="background-image: url('{{ .Site.BaseURL }}img/banner/banner-2.jpg');"
                data-overlay="3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <div class="banner-text-left white z-5">
                                <h1 class="black lh-11 mb-10 f-700 text-shadow"><span class="blue f-900">High-Quality Heating</span> Installation & Repair</h1>
                                <p class="fs-17 mb-25 black text-shadow">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, aut dolorum animi id beatae debitis distinctio reiciendis voluptas reprehenderit. Odit.</p>
                                <a href="{{ .Site.BaseURL }}contact-us" class="btn btn-blue shine-btn mr-20">Book Now</a>
                                <a href="{{ .Site.BaseURL }}services" class="btn btn-blue shine-btn">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="{{.Site.BaseURL}}img/other/dots.png" alt="" class="dots-img">
            </div>
        </div>
    </div>
</section>
<!-- Banner end -->