<!-- cartoon CTA Start -->
<section class="row cartoon">
    <div class="container text-center">
        <div class="cta-body">
            <img src="{{ .Site.BaseURL }}img/cartoon-guy.png" alt="call us today" height="174px" width="177px" class="wow slideInLeft" loading="lazy">
            <header class="cta-body-header">
                <h4>Free Estimates on Complete System Replacement</h4>
            </header>
            <h5>Call Now <a href="tel:+18173304156">(817) 330 4156</a></h5>
        </div>
    </div>
</section>
<!-- cartoon CTA  End-->