<!-- how it works start -->
<section class="hw-it-wrks bg-dot-full pt-95 pb-75 pb-sm-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <h1 class="mb-45">Our Coupons & Specials</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                    <div class="hw-icon mb-15">
                        <img src="{{ .Site.BaseURL }}img/coupons/coupon-1.jpeg" class="wow fadeInLeft" alt="coupon-1" loading="lazy">
                    </div>
            </div>
            <div class="col-md-6 text-center">
                    <div class="hw-icon">
                        <img src="{{ .Site.BaseURL }}img/coupons/coupon-2.jpeg" class="wow fadeInRight" alt="coupon 2" loading="lazy">
                    </div>                    
            </div>
        </div>
    </div>
</section>
<!-- how it works end -->