<!-- cta start -->
<section id="truck" class="cta shadow-blue pt-100 pb-95" data-overlay="3"
style="background-image: url('{{.Site.BaseURL}}img/truck.jpeg'); background-size:cover; background-attachment: fixed; height: 100vh;">
<!-- <div class="container z-5">
    <div class="row align-items-center">
        <div class="col-lg-12 text-center text-lg-left">
            <div class=" pr-md-00">
                <h1 class="white mb-15">Proudly Serving Midlothian, Texas and Surrounding Areas For 28 Years</h1>
                <p class="white mb-0 fs-15">
                    Dallas County
                    - Ellis County
                    - Johnson County
                    - Parker County 
                    - Tarrant County 
                    - Rockwall County
                    - Venus
                    - Fort Worth</p>
            </div>
        </div>
    </div>
</div> -->
</section>
<!-- cta end -->