<!-- Proudly Serving Start-->
<section class="cta-footer pt-20 bg-beige">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <h2 class="text-center mb-4" style="font-size: 36px;">Proudly Serving Venus, Texas and Surrounding
                    Areas</h2>

                <p style="text-align: center;">Dallas County
                    - Ellis County
                    - Johnson County
                    - Parker County
                    - Tarrant County
                    - Rockwall County
                    - Midlothian
                    - Fort Worth
                    - Alvarado
                    - Waxahachie
                    - Maypearl
                    - Southeast Arlington
                    - Pecan Hill
<div class="row"><div class="container">
<h2 class="text-center" style="color: #ff0000;">See Our Reviews On: </h2>
</div></div>
                    <div class="col-lg-8 col-md-4 col-sm-12 text-center mx-auto mb-10"><a href="https://www.google.com/search?hl=en-US&gl=us&q=Heritage+Air+Services+LLC,+8010+Norrell+Rd,+Venus,+TX+76084&ludocid=6355469101350881152&lsig=AB86z5WbA8TyiVfrRLdzVD0UCsbL#lrd=0x864ef7891dec44fb:0x5833297996fd8780,1" target="_blank" rel="nofollow noreferrer" title="google reviews"><img src="{{ .Site.BaseURL }}img/view-google-reviews.png" alt="google reviews" loading="lazy"></a>
        <a href="https://www.facebook.com/HeritageAirTX/reviews/" title="facebook reviews"><img src="{{ .Site.BaseURL }}img/view-fb-reviews.png" alt="facebook reviews" target="_blank" rel="nofollow noreferrer" loading="lazy" class="ml-15 mr-15 mt-10 mb-10"></a></div>
            </div>
            
        </div>
    </div>
    <div class="map-responsive contact-map bg-blue pb-00 mb-00">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3368.8540632369486!2d-97.03993698543579!3d32.39627351060953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864ef7891dec44fb%3A0x5833297996fd8780!2sHeritage%20Air%20Services%20LLC!5e0!3m2!1sen!2sus!4v1606176549287!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="pb-00 mb-00"></iframe>
    </div>
</section>
<!-- Proudly Serving End-->