<!-- service start -->
<section class="service pt-95 pb-100 bg-light-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <h1 class="mb-45">Our Services We Offer</h1>
                <img src="{{  .Site.BaseURL }}img/icons/snowflake-1.png" class="service-cg-icon" alt="snowflake background">
            </div>
        </div>
        <div class="row">



            <div class="col-lg-4 col-xl-4 col-md-6 wow fadeInUp">
                <div class="service-each shadow-2 mb-30 transition-4 text-center">
                    <a href="" class="black">
                        <div class="service-icn bg-light-white flex-center">
                            <img src="{{ .Site.BaseURL }}img/service/1.png" alt="residential services">
                        </div>
                        <div class="service-text">
                            <h3 class="fs-20 f-700 mb-10">Residential Services</h3>
                            <p class="mb-0">Come home to pure comfort with a Heritage Air Services installed comfort system</p>
                            <span class="line-servcie transition-4 bg-blue mt-5"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                <div class="service-each shadow-2 mb-30 transition-4 text-center">
                    <a href="" class="black">
                        <div class="service-icn bg-light-white flex-center">
                            <img src="{{ .Site.BaseURL }}img/service/2.png" alt="commercial services">
                        </div>
                        <div class="service-text">
                            <h3 class="fs-20 f-700 mb-10">Commercial Services</h3>
                            <p class="mb-0">Our technicians are trained and certified for your commercial project.</p>
                            <span class="line-servcie transition-4 bg-blue mt-5"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                <div class="service-each shadow-2 mb-30 transition-4 text-center">
                    <a href="" class="black">
                        <div class="service-icn bg-light-white flex-center">
                            <img src="{{ .Site.BaseURL }}img/service/1.png" alt="residential maintenance">
                        </div>
                        <div class="service-text">
                            <h3 class="fs-20 f-700 mb-10">Residential Maintenance</h3>
                            <p class="mb-0">When your old system quits on you we are here to help!</p>
                            <span class="line-servcie transition-4 bg-blue mt-5"></span>
                        </div>
                    </a>
                </div>
            </div>


        </div>

        <div class="row">



            <div class="col-lg-4 col-xl-4 col-md-6 wow fadeInUp">
                <div class="service-each shadow-2 mb-30 transition-4 text-center">
                    <a href="" class="black">
                        <div class="service-icn bg-light-white flex-center">
                            <img src="{{ .Site.BaseURL }}img/service/2.png" alt="commercial sales">
                        </div>
                        <div class="service-text">
                            <h3 class="fs-20 f-700 mb-10">Commercial Sales</h3>
                            <p class="mb-0">Contractors rely on us to bring industry leading hvac equipment and services
                            </p>
                            <span class="line-servcie transition-4 bg-blue mt-5"></span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                <div class="service-each shadow-2 mb-30 transition-4 text-center">
                    <a href="" class="black">
                        <div class="service-icn bg-light-white flex-center">
                            <img src="{{ .Site.BaseURL }}img/service/7.png" alt="protection plan image">
                        </div>
                        <div class="service-text">
                            <h3 class="fs-20 f-700 mb-10">Protection Plans</h3>
                            <p class="mb-0">Learn about our industry leading protection plans
                            </p>
                            <span class="line-servcie transition-4 bg-blue mt-5"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                <div class="service-each shadow-2 mb-30 transition-4 text-center">
                    <a href="" class="black">
                        <div class="service-icn bg-light-white flex-center">
                            <img src="{{ .Site.BaseURL }}img/service/1.png" alt="residential sales">
                        </div>
                        <div class="service-text">
                            <h3 class="fs-20 f-700 mb-10">Residential Sales</h3>
                            <p class="mb-0">Free estimates on new residential systems.  Our technicians are ready to cool you down.</p>
                            <span class="line-servcie transition-4 bg-blue mt-5"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>



    </div>
</section>
<!-- service end -->