<!-- why choose us start -->
<section class="why-us">
    <div class="container-fluid p-0">
        <div class="row no-gutters z-5">
            <div class="col-lg-6 wow fadeInLeft">
                <div class="why-video shadow-blue bg-cover h-100"
                    style="background-image: url('{{ .Site.BaseURL }}img/lennox-facebook.jpeg');">
                    <div class="blob play-btn  transform-center">
                        <a href="https://www.youtube.com/watch?v=-dGK-IKt5ZI" class="popup-video"> <i
                                class="fas fa-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 bg-light-white wow fadeInRight">
                <div class="why-us-content">
                    <p class="sub-head blue f-700 mb-5">Why Choose Us</p>
                    <h1 class="mb-10">We Do Customer Service!</h1>
                    <p class="mb-20">Heritage Air Services is a family owned, local Heating & Air Conditioning company that services the DFW Metroplex and surrounding areas. Owned and operated by Stephen & Heather Miley, Heritage Air will bring their over 12+ years of Air Conditioning & Heating experience into your home to help resolve any issue you may be having. Customer service is our #1 goal and we aren’t satisfied until you are. We offer quality service at a price you can afford and back all of our work with a 100% satisfaction guarantee. We specialize in all brands and types of equipment, as well as both Residential and Commercial applications.</p>
                    <ul class="check-list2 half-list mb-10">
                        <li>
                            <img src="{{ .Site.BaseURL }}img/icons/check.png" alt="">
                            <h5 class="fs-16 lh-14">Highly Rated & Esteemed</h5>
                            <p>Great reviews from happy customers</p>
                        </li>
                        <li>
                            <img src="{{ .Site.BaseURL }}img/icons/check.png" alt="">
                            <h5 class="fs-16 lh-14">Insured and Bonded</h5>
                            <p>We are covered in case of any accidents</p>
                        </li>
                        <li>
                            <img src="{{ .Site.BaseURL }}img/icons/check.png" alt="">
                            <h5 class="fs-16 lh-14">Trusted Professionals</h5>
                            <p>Years Of Experience</p>
                        </li>
                        <li>
                            <img src="{{ .Site.BaseURL }}img/icons/check.png" alt="">
                            <h5 class="fs-16 lh-14">Quality Service</h5>
                            <p>Our #1 Goal</p>
                        </li>
                    </ul>
                    <a href="{{ .Site.BaseURL }}contact-us" class="btn btn-blue shine-btn mr-20">Book Now</a>
                    <a href="{{ .Site.BaseURL }}contact-us" class="btn btn-blue-border mt-xs-15">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- why choose us end -->