<!-- header start -->
<header class="head-type-1">
    <div class="container-fluid p-0">
        <div class="row align-items-center no-gutters">
            <div class="col-lg-3">
                <div class="d-flex align-self-stretch">
                    <div class="logo pl-00">
                        <a href="{{ .Site.BaseURL }}">
                            <img src="{{ .Site.BaseURL }}images/rect-logo.jpg" class="top-logo" alt="Heritage Air Services Logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="header-1 line-after-1">
                    <nav class="main-menu-1">
                        <div class="d-flex justify-content-end align-items-center">
                            <ul>
                                <li class="mega-menu-dropdown">
                                    <a href="{{ .Site.BaseURL }}" class="active">Home</a>

                                </li>
                                <li> <a href="{{ .Site.BaseURL }}services" class="">Services</a>
                                    <ul class="submenu">
                                        <li><a href="{{ .Site.BaseURL }}services/residential"><span></span>Residential</a>
                                        </li>

                                </li>
                                <li><a href="{{ .Site.BaseURL }}services/commercial">Commercial</a>
                                </li>
                                <li><a href="{{ .Site.BaseURL }}services/residential-preventative-maintenance">Residential Maintenance</a>
                                </li>
                                <li><a href="{{ .Site.BaseURL }}services/new-residential-system-sales">Residential Sales</a></li>
                                <li><a href="{{ .Site.BaseURL }}services/new-commercial-system-sales">Commercial Sales</a></li>
                                <li><a href="{{ .Site.BaseURL }}services/protection-plans">Protection Plans</a></li>

                            </ul>
                            </li>
                            <li> <a href="{{ .Site.BaseURL }}service-areas" class="">Service Area</a>
                                <ul class="submenu">
                                    <li><a href="{{ .Site.BaseURL }}service-areas/dallas-county">Dallas County</a></li>
                                    <li><a href="{{ .Site.BaseURL }}service-areas/ellis-county">Ellis County</a></li>
                                    <li><a href="{{ .Site.BaseURL }}service-areas/johnson-county">Johnson County</a></li>
                                    <li><a href="{{ .Site.BaseURL }}service-areas/parker-county">Parker County</a></li>
                                    <li><a href="{{ .Site.BaseURL }}service-areas/tarrant-county">Tarrant County</a></li>
                                    <li><a href="{{ .Site.BaseURL }}service-areas/rockwall-county">Rockwall County</a></li>
                                </ul>
                            </li>
                            <li> <a href="{{ .Site.BaseURL }}gallery" class="">Gallery</a></li>
                            <li> <a href="{{ .Site.BaseURL }}financing" class="">Financing</a></li>


                            <!-- <li> <a href="contact-us.html" class="">Contact Us</a>

                            </li> -->
                            </ul>
                            <a href="{{ .Site.BaseURL }}contact-us" class="head-1-book ml-15 mr-30">Contact Now</a>
                            <div class="emergency shine-inf white">
                                <p class="f-500 z-5">Call Us Now</p>
                                <h4 class="fs-25 z-5 f-500 pr-00">(817) 330 4156 </h4>
                                <img src="{{ .Site.BaseURL }}img/icons/emergency.png" alt="emergency">
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-menu tt-index-1"></div>
            </div>

        </div>
    </div>
</header>
<!-- header end -->