/********************
**Table Of Contents**

1. Top Header
2. qck_sec
3. colors
4. Additional Services
5. Why Choose Us
7. Single Page Styles
8. Newsletter Section
9. Footer

*********************/

.margin-center {
    display: block;
    margin: 0 auto;
}


/********************
1. Top Header
*********************/

/* * {
    border: .25px dotted red;
} */

#Capa_1 {
    color: #e6e6e6 !important;
}

.bg-beige {
    background-color: #f5f5dc;
}

.preloader {
    display: none !important;
}

header > .top_header {
    background-color: #001c4c;
    color: #fff;
}

.emg-sec > span:nth-child(1) {
    color: #e6e6e6;
}

.emg-sec > h4:nth-child(2) {
    color: #fff;
}

.social_links > li > a {
    color: #fff;
}

.hd_opts {
    display: none;
}

.hd_is > svg > g {
    color: #e6e6e6 !important;
}

.responsive_hd_logo > a > img {
    height: 100%;
    max-height: 235px !important;
    width: auto;
}

.map {
    color: #fff !important;
}

.cnt_hed > li > div > div > span {
    color: #fff;
}


.navigations {
    margin: 0 auto;
    text-align: center;
}

.navigations > .container > nav {
    float: initial;
}

.search_icon {
    display: none;
}

.logo {
    background-color: #001c4c;
}


/********************
2. qck-sec
*********************/
.qck-sec {
    background-image: url('../images/bg1.jpg');
}

/* section.block:nth-child(7) {
    height: 0;
    margin: 0;
    padding: 0;
} */

section.block:nth-child(7) > div:nth-child(1) > div:nth-child(1) > h4:nth-child(1) {
    display: none;
}

section.block:nth-child(7) {
    padding: 2em;
}



/********************
8. Single Page Styles
*********************/
.page-title {
    margin: 1em auto;
    text-align: center;
}

.single-page > p {
    line-height: 1.5;
    font-size: 1.25em;
}

.center-margin {
    float: none;
    display: block;
    margin: 1em auto;
}


/********************
8. Newsletter Section
*********************/
.newsletter-sec {
    background: #13213b;
}

.nss_list li::before {
    background-color: #fff;
}

ul.nss_list li span {
    color: #ff0000;
}

ul.nss_list li {
    color: #fff;
}


/********************
3. Colors
*********************/
.white-text {
    color: #fff;
}


/********************
4. Additional Services
*********************/

.bg2 {
    background-image: url('../images/bg2.jpg');
}


/********************
5. Why Choose Us
*********************/

.bg3 {
    background-image: url('../images/bg3.jpg');
}


/********************
6. Make an Appointment
*********************/
.bg4 {
    background-image: url('../images/bg4.jpg');
}

/********************
7. Testimonials
*********************/
.bg5 {
    background-image: url('../images/bg5.jpg');
}

.testimonial-stars {
    padding-bottom: 1em;
}


/********************
9. Footer
*********************/


.p-3 {
    padding: 4em 0;
}

.container-fluid > div:nth-child(1) > h6:nth-child(1) {
    text-transform: initial;
    font-size: 2em;
}


.widget-contact > ul > li > span > small {
    color: #0707d6;
}

.container-fluid > .container > h6 {
    font-size: 1.25em;
    font-weight: 700;
}

.footer-content {
    margin: 1em auto;
    width: 100%;
}

.footer-body {
    background-color: #002F7F;
    color: #fff;
    margin-top: 0;
    text-align: center !important;
}

.payment-header {
    color: #fff;
}

.payment-options {
    padding-left: .5em;
}

.widget-override {
    margin: 0 auto !important;
    padding: 0 !important;
    width: 100% !important;
}

.social_lnks {
    margin: 0 auto;
}

.social_lnks > li {
    margin: auto;
    
}

.social_lnks > li > a {
    background-color: #e6e6e6;
    border:2px solid #fff;
    transition: 450ms ease-in-out;
}

.social_lnks > li > a:hover {
    background-color: rgba(255, 255, 255, 0.50);
    transform: rotate(360deg);
}


.social_lnks > li > a > i {
    color: #0707d6;
}

.schrader-footer {
    background-color: #001C4C;
    color: #fff;
    display: block;
    padding: 1.5em;
}

.schrader-footer > .container a {
    color: #e6e6e6;
    padding: 0;
    position: relative;
    transition: 250ms ease-in-out;
}

.schrader-footer > .container a::after {
    background: #ff0000;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    margin-top: .25em;
    position: absolute;
    top: 100%;
    transform-origin: left;
    transition: 250ms ease-in-out;
    width: 0;
}

.schrader-footer > .container a:hover {
    color: #fff;
}

.schrader-footer > .container a:hover::after {
    width: 100%;
}

ul.footer-nav-menu {
    padding: 1em 0;
    text-align: center;
}

ul.footer-nav-menu li a {
    color: #fff;
}

.media + h5 {
    color: #e6e6e6;
    text-align: center;
}

.f_title h3 {
    color: #e6e6e6;
    margin-top: 1em;
}

.footer_address p {
    margin: auto;
    padding-left: 2em;
    text-align: left;
}

.footer_address > p > a {
    color: #fff;
}

.left > p {
    padding-top: 1.25em;
    text-align: center;
}

.right {
    text-align: center;
}

.footer_copyright a {
    color: #fff;
}

.media::after {
    content: '';
    display: table;
    clear: both;
}

.media > div > img {
    display: block;
    float: none;
    margin: 1em auto;
    text-align: center;
}

.media-body > h4:nth-child(1) {
    color: #000;
    line-height: 1.25;
    padding: .25em 1.25em;
    text-align: center;
}

.replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > h5:nth-child(2) {
    text-align: center;
}

.payment_widget > div:nth-child(1) > div:nth-child(2) > h4:nth-child(1) {
    color: #e6e6e6;
}

.widget {
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width:499px) {
    .footer_address {
        margin: 1em auto;
        max-width: 250px;
        width: 75%;
    }

    .footer_address > p {
        padding: initial;
        text-align: center;
    }
}

@media screen and (min-width: 968px) {

    .replacement_area {
        background-color:#005eff;
        border-top: 7px solid #bb202e;
        color: #000;
        margin-top: -45px;
        max-height: 135px;
        position: relative;
        width: 100%;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
        bottom: 0;
        left: 25%;
        margin-bottom: 0;
        margin-top: -45px;
        padding-bottom: 0;
        padding-right: 1.5em;
        position: absolute;
        transform: translateX(-66%);
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
        color: #fff;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > h5:nth-child(2) {
        color: #fff;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
        left: 25%;
    }

    .qck-formatting {
        margin: 0 auto 1em;
        max-width: 100ch;
        text-align: center;
    }

    .qck-formatting p {
        text-align: left;
    }

    a.lnk-default {
        margin: 0 auto !important;
        text-align: center;
    }

    #read-more {
        text-align: center !important;
    }

    .f_title h3 {
        color: #e6e6e6;
        margin-top: intial;
    }
}





@media screen and (min-width: 1367px) {

    .replacement_area {
        background-color:#005eff;
        border-top: 7px solid #bb202e;
        color: #000;
        margin-top: -45px;
        max-height: 135px;
        position: relative;
        width: 100%;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) {
        margin: 0 auto;
        width: 75%;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
        bottom: 0;
        left: 33%;
        margin-bottom: 0;
        margin-top: -45px;
        padding-bottom: 0;
        padding-right: 1.5em;
        position: absolute;
        transform: translateX(-66%);
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > h4:nth-child(1) {
        color: #e6e6e6;
        text-align: center;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > h5:nth-child(2) {
        color: #e6e6e6;
        text-align: center;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > h5:nth-child(2) > a:nth-child(1) {
        color: #fff;
    }

    .footer-body {
        margin: 0 auto;
        padding-top: 1em;

    }

    .footer-content {
        color: #fff;
        margin: 0 auto;
        max-width: 968px;
        text-align: center;
    }

    .my-1 {
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .pl-3 {
        padding-left: 3em;
    }

    .f_title {
        margin-bottom: 1em;
    }

    ul.footer-nav-menu {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0 0 1em;
        width: 50%;
    }

    ul.footer-nav-menu li {
        display: inline;
        padding-left: 0;
        width: 100%;
        text-align:left;
    }

    .payment-options {
        text-align: left;
    }

    .footer_address > p {
        padding: initial;
        text-align: left;
    }

}


