<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{.Params.description}}">
	<meta name="author" content="Andrew M McCall">
	<link rel="icon" href="/images/favicon_new.png">
	<link rel="author" href="https://andrew-mccall.com">
	<title>{{ .Params.title }} - {{.Site.Title}}</title>
	<!-- Bootstrap core CSS -->
	<link href="/css/plugins/bootstrap.min.css" rel="stylesheet">
	<link href="/css/plugins/bootstrap-datetimepicker.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
	<link href="/css/plugins/animate.min.css" rel="stylesheet">
	<link href="/css/plugins/slick.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/plugins/slick.css" rel="stylesheet">
	<link href="/css/custom.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/overrides.css">

{{ if .Params.cards }}
<link rel="stylesheet" href="/css/cards.css">
{{ else }}
{{ end }}
{{ if .Params.gallery }}
<link rel="stylesheet" href="/css/gallery.css">
{{ else }}
{{ end }}

	<!-- Icon Font-->
	<link href="/iconfont/style.css" rel="stylesheet">
</head>

<body class="home layout2">
	<script>0</script>
	{{ partial "header.html" . }}
	{{ partial "responsive-header.html" . }}
	{{ partial "responsive-menu.html" . }}
	{{block "main" . }}


	{{ end }}
	{{ partial "testimonials.html" . }}
	<!-- {{ partial "our-map.html" . }} -->
	{{ partial "scrolltop.html" . }}
	{{ partial "appointment-form.html" . }}
	{{ partial "union-footer.html" . }}
	<script src="/js/jquery.js"></script>
<script src="/js/plugins/bootstrap.min.js"></script>
<script src="/js/plugins/moment.min.js"></script>
<script src="/js/plugins/bootstrap-datetimepicker.min.js"></script>
<script src="/js/plugins/jquery.form.js"></script>
<script src="/js/plugins/jquery.validate.min.js"></script>
<script src="/js/plugins/slick.min.js"></script>
<script src="/js/plugins/custom-tabs.js"></script>
<script src="/js/forms.js"></script>
<script src="/js/scripts.js"></script>
{{ if .Params.gallery }}
<script src="/js/custom-gallery.js" defer></script>
{{ else }}
{{ end }}
</body>

</html>