{{ partial "head.html" . }}
	{{ partial "preloader.html" . }}
		{{ partial "header.html" . }}
			{{ partial "responsive-header.html" . }}
				{{ partial "responsive-menu.html" . }}
					{{ partial "banner-section.html" . }}
						<!-- {{ partial "services-section.html" . }} -->
							{{ partial "quick-section.html" . }}
								{{ partial "choose-services.html" . }}
									<!-- {{ partial "additional-services.html" . }} -->
										<!-- {{ partial "faq-section.html" . }} -->
											{{ partial "core-values.html" . }}
												<!-- {{ partial "latest-articles.html" . }} -->
													<!-- {{ partial "sap-section.html" . }} -->
														{{ partial "we-do-it-with-pleasure.html" . }}
															{{ partial "testimonials.html" . }}
																	<!-- {{ partial "newsletter.html" . }} -->
																		{{ partial "our-map.html" . }}
{{ partial "scrolltop.html" . }}
	{{ partial "appointment-form.html" . }}
	{{ partial "union-footer.html" . }}
	{{ partial "body-end.html" . }}
														


