/********************
**Table Of Contents**

1. Top Header
2. qck_sec
3. colors
4. Additional Services
5. Why Choose Us
7. Single Page Styles
8. Newsletter Section
9. Footer
10. gallery css

*********************/

/* * {
    border: 1px dotted red !important;
} */
.row {
    width: 100%;
    margin: 0 auto !important;
    padding: 0;
}

.margin-center {
    display: block;
    margin: 0 auto;
}

.link-margin-center {
    display: inline-block;
    margin: 0 1em .5em;
    padding: 0 1em;
}

img.about-us {
    height: auto;
    width: 100%;
}

.container-75 {
    margin: 0 auto;
}


.container-75 > div > p:first-child {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    line-height: 1.25;
    margin: 0 auto;
    padding-top: 1em;
}

.single-page > p {
    margin: 0 auto 1em;
    max-width: 60ch;
    text-align: left;
}

span.sub-title {
    color: #2970e3;
    display: inline-block;
    font-size: .95em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1.5em;
    text-transform: uppercase;

}

#cooling-gallery-tab {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.gallery-info {
    margin: 1em;
    flex: 1;
}

.gallery-image {
    height: 450px;
    margin: 1em auto;
    width: auto;
}



/********************
1. Top Header
*********************/

/* * {
    border: .25px dotted red;
} */

aside.schedule-appointment {
    background-color: #000;
    color: #fff;
    margin: auto;
    width: 100%;
}

.schedule-appointment-phone a {
    color: #fff;
    display: inline-block;
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 25px;
    
}

.emg-sec {
    width: 100%;
}

.emg-sec > ul {
    padding-left: 0;
}

.emg-sec > ul > li {
    text-align: left !important;
}

.emg-sec > ul > li > a {
    font-weight: bold;
    font-size: 1.33em;
    text-align: left !important;
}

a.btn {
    background-color: #ff0000 !important;
    border: .5px solid #999;
    border-radius: 7.5px;
    color: #fff;
    display: block;
    font-weight: bold;
    margin: .5em auto 0;
    padding: .25em .5em;
    transform-origin: left;
    transition: 350ms ease-in-out;
}

a.btn:hover {
    background-color: #fff !important;
    color: #ff0000;
}

#Capa_1 {
    color: #e6e6e6 !important;
}

.bg-beige {
    background-color: #f5f5dc;
}

.preloader {
    display: none !important;
}

header > .top_header {
    background-color: #001c4c;
    color: #fff;
}

.emg-sec > span:nth-child(1) {
    color: #e6e6e6;
}

.emg-sec > h4 {
    color: #fff;
    font-size: .66em; 
    font-weight: bold; 
    margin-bottom: 13px;
    text-align: left;
}

.emg-sec > h4 > a {
    font-size: 13px;
}

.emg-sec > h4 > a > i {
    display: inline;
}

.hide-on-mobile {
    display: none !important;
}

.hide-on-mobile + a {
    display: block;
    padding-left: 0;
    width: 100%;
}

.flex-me-1 > li:nth-child(1) > a:nth-child(1) > i:nth-child(1) {
    margin-left: -.73em;
    padding-right: .5em;
}

.social_links > li > a {
    color: #fff;
}

.hd_opts {
    display: none;
}

.hd_is > svg > g {
    color: #e6e6e6 !important;
}

.responsive_hd_logo > a > img {
    height: 100%;
    max-height: 235px !important;
    width: auto;
}

.map {
    color: #fff !important;
}

.cnt_hed > li > div > div > span {
    color: #fff;
}


.navigations {
    margin: 0 auto;
    text-align: center;
}

.navigations > .container > nav {
    float: initial;
}

.search_icon {
    display: none;
}

.logo {
    background-color: #001c4c;
}

.review-icons {
    display: inline-block;
    margin: 0em .5em 1em;
}

/********************
** Page ID's*********
*********************/

.page-title {
    color: #f47629;
    font-size: 2.25em;
}

.counties {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
}

.counties > ul {
    list-style-type: circle;
}


.single-page > ul {
    display: inline-block;
    flex: 1;
    margin: 1em auto !important;
    min-width: 200px !important;
    padding: .5em .75em 1em;
    vertical-align: top;
    width: auto;

    
}

.single-page > ul > li {
    font-size: 1.25em;
    line-height: 1.25;
    list-style: initial;
    padding-right: 1.25em;
    text-align: left;
}


/********************
2. qck-sec
*********************/
.qck-sec {
    background-image: url('../images/bg1.jpg');
}

/* section.block:nth-child(7) {
    height: 0;
    margin: 0;
    padding: 0;
} */

section.block:nth-child(7) > div:nth-child(1) > div:nth-child(1) > h4:nth-child(1) {
    display: none;
}

section.block:nth-child(7) {
    padding: 2em;
}

.sec-title > h2 {
    margin-bottom: 1em;
}



/********************
8. Single Page Styles
*********************/
.page-title {
    margin: 1em auto;
    text-align: center;
}

.single-page > p {
    line-height: 1.5;
    font-size: 1.25em;
}

.center-margin {
    float: none;
    display: block;
    margin: 1em auto;
}

/* .choose_services_sec {
    display: flex;
    flex-direction: column;
} */


/********************
8. Newsletter Section
*********************/
.newsletter-sec {
    background: #13213b;
}

.nss_list li::before {
    background-color: #fff;
}

ul.nss_list li span {
    color: #ff0000;
}

ul.nss_list li {
    color: #fff;
}



/********************
3. Colors
*********************/
.white-text {
    color: #fff;
}


/********************
4. Additional Services
*********************/

.bg2 {
    background-image: url('../images/bg2.jpg');
}



/********************
5. Why Choose Us
*********************/

.bg3 {
    background-image: url('../images/bg3.jpg');
}

.gallery-info {
    width: 100%;
}

.gallery-info:last-child {
    margin-right: 1em;
    padding-right: 1em;
}


/********************
6. Make an Appointment
*********************/
.bg4 {
    background-image: url('../images/bg4.jpg');
}

/********************
7. Testimonials
*********************/
.bg5 {
    background-image: url('../images/bg5.jpg');
}

.testimonial-stars {
    padding-bottom: 1em;
}


/********************
9. Footer
*********************/

.media-body > h4 {
    color: #000;
    z-index: 999;
}

.proudly-serving {
    font-size: 1.5em;
    margin: .5 auto;
    font-weight: 700;
}

footer {
    background-color: #002f7f;
    color: #fff;
}

ul.footer-address {
    margin: 0 auto;
    padding: 0;
}

.footer-address > li {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    padding: .5em;
    text-align: left;
}

.fa-map-marker,
.fa-phone,
.fa-paper-plane-o {
    font-size: 1em !important;
    padding-top: 2px;
}


.fa-map-marker {
    left: .35em;
    
}


.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-yelp
 {
    font-size: 1.25em;
    margin-top: 1em;
    transition: 250ms ease-in-out;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-yelp:hover {
    color: #999;
    transform: rotate(360deg);
}

.social-item-link {
    height: 50px;
}

.footer-address-item {
    text-align: left;
}

span.address-text {
    font-family: 'Rubik', sans-serif;
    line-height: 1.25;
    padding-left: 1em;
}

span.address-text > a {
    color: #e6e6e6;
}

.footer-submenu {
    margin-top: 2.5em;
}

.footer-submenu-header-title {
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}

.footer-submenu-item {
    
    padding: .5em;
}

.footer-submenu-item a {
    color: #e6e6e6;
    transition: 250ms ease-in-out;
}

.footer-submenu-item a:hover {
    color: #ff0000;
}

.footer-submenu-item a::after {
    background: #e6e6e6;
    content: '';
    display: block;
    height: 2px;
    transition: 250ms ease-in-out;
    transform-origin: center;
    transform: scale(0);
}

.footer-submenu-item a:hover::after {
    transform: scale(0);
}


.footer-image {
    height: auto;
    margin: 0 auto;
    max-width: 225px;    
}

ul.info li .text,
ul.info li a.text {
    color: #fff;
}

li.social-item {
    display: inline-block;
}



.p-3 {
    padding: 4em 0;
}

.container-fluid > div:nth-child(1) > h6:nth-child(1) {
    text-transform: initial;
    font-size: 2em;
}

div.container:nth-child(13) > h6:nth-child(1) {
    font-size: 2em;
    font-weight: 700;
    padding-top: 3em;
}


.widget-contact > ul > li > span > small {
    color: #0707d6;
}

.container-fluid > .container > h6 {
    font-size: 1.25em;
    font-weight: 700;
}

.footer-content {
    margin: 1em auto;
    width: 100%;
}

.footer-body {
    background-color: #002F7F;
    color: #fff;
    margin-top: 0;
    text-align: center !important;
}

.payment-header {
    color: #fff;
}

.payment-options {
    padding-left: .5em;
}

.widget-override {
    margin: 0 auto !important;
    padding: 0 !important;
    width: 100% !important;
}

.social_lnks {
    margin: 0 auto;
}

.social_lnks > li {
    margin: auto;
    
}

.social_lnks > li > a {
    background-color: #e6e6e6;
    border:2px solid #fff;
    transition: 450ms ease-in-out;
}

.social_lnks > li > a:hover {
    background-color: rgba(255, 255, 255, 0.50);
    transform: rotate(360deg);
}


.social_lnks > li > a > i {
    color: #0707d6;
}

.schrader-footer {
    background-color: #001C4C;
    color: #fff;
    display: block;
    padding: 1.5em;
}

.schrader-footer > .container a {
    color: #e6e6e6;
    padding: 0;
    position: relative;
    transition: 250ms ease-in-out;
}

.schrader-footer > .container a::after {
    background: #ff0000;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    margin-top: .25em;
    position: absolute;
    top: 100%;
    transform-origin: left;
    transition: 250ms ease-in-out;
    width: 0;
}

.schrader-footer > .container a:hover {
    color: #fff;
}

.schrader-footer > .container a:hover::after {
    width: 100%;
}

ul.footer-nav-menu {
    padding: 1em 0;
    text-align: center;
}

ul.footer-submenu {
    padding: initial;
}

ul.footer-nav-menu li a {
    color: #fff;
}

.media + h5 {
    color: #e6e6e6;
    text-align: center;
}

.f_title h3 {
    color: #e6e6e6;
    margin-top: 1em;
}

.footer_address p {
    margin: auto;
    padding-left: 2em;
    text-align: left;
}

.footer_address > p > a {
    color: #fff;
}

.left > p {
    padding-top: 1.25em;
    text-align: center;
}

.right {
    text-align: center;
}

.footer_copyright a {
    color: #fff;
}

.media::after {
    content: '';
    display: table;
    clear: both;
}

.media > div > img {
    display: block;
    float: none;
    margin: 1em auto;
    text-align: center;
}

.media-body > h4:nth-child(1) {
    line-height: 1.25;
    padding: .25em 1.25em;
    text-align: center;
}

.replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > h5:nth-child(2) {
    text-align: center;
}

.payment_widget > div:nth-child(1) > div:nth-child(2) > h4:nth-child(1) {
    color: #e6e6e6;
}

.widget {
    margin: 0 auto;
    text-align: center;
}



@media screen and (min-width:499px) {
    .footer_address {
        margin: 1em auto;
        max-width: 250px;
        width: 75%;
    }

    .footer_address > p {
        padding: initial;
        text-align: center;
    }
}

@media screen and (min-width: 768) {
    .container-75 {
        margin: auto;
        width: 90%;
    }

}

@media screen and (min-width: 968px) {

  

    .hide-on-mobile {
        display: inline-block !important;
        height: 0 !important;
        margin-left: 1em;
        padding-right: .5em;
    }

    .hide-on-mobile > a {
        font-size: .9em;
    }

    .hide-on-mobile + a {
        padding-left: 1em;
    }

    .flex-me {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-left: 0;
    }

    ul.flex-me-1,
    ul.flex-me-2 {
        list-style-position: inside !important;
    }

    ul.flex-me-1 li:first-child {
        padding-top: 0;
    }

    ul.flex-me-1 li:first-child a {
        margin-top: 0;
        padding-top: 0;
    } 

    .flex-me-1 {
        flex: 1;
    }

    .flex-me-2 {
        flex: 2;
    }

    .flex-me-1 > li:nth-child(1) > a:nth-child(1) > i:nth-child(1) {
        padding-right: .5em;
    }
    aside.schedule-appointment {
        display: none;
    }

    #cooling-gallery-tab {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container-75 {
        margin: auto;
        width: 85%;
    }

    .service-img {
        width: auto;
        min-height: 300px;
    }

    section.block:nth-child(4) {
        padding-top: 2em !important;
    }

    .media {
        color: #fff;
        margin: 0 auto;
        max-width: 968px;
    }

    .media:first-child {
        margin: 0 auto;
    }

    .media-body > h4 {
        color: #fff;
    }

    .replacement_area {
        background-color:#005eff;
        border-top: 7px solid #bb202e;
        color: #000;
        margin-top: -45px;
        max-height: 135px;
        position: relative;
        width: 100%;
    }

    .media-body > h4 {
        position: relative;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        margin-top: -45px;
        padding-bottom: 0;
        padding-right: 1.5em;
        position: absolute;
        transform: translateX(-66%);
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
        color: #fff;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > h5:nth-child(2) {
        color: #fff;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
        left: 15%;
    }

    .qck-formatting {
        margin: 0 auto 1em;
        max-width: 100ch;
        text-align: center;
    }

    .qck-formatting p {
        text-align: left;
    }

    a.lnk-default {
        margin: 0 auto !important;
        text-align: center;
    }

    #read-more {
        text-align: center !important;
    }

    .f_title h3 {
        color: #e6e6e6;
        margin-top: intial;
    }

    .footer-submenu-item {
        padding: .45em;
    }

    ul.appointment-header {
        width: 100%;
    }

    ul.appointment-header li {
        width: 100%;
    }
}





@media screen and (min-width: 1366px) {

    

    .header-1080 {
        width: 90%;
    }

    .flex-me-1 > li:nth-child(1) > a:nth-child(1) > i:nth-child(1) {
        margin-left: .66em;
        padding-right: .33em;
    }


    .container-75 {
        margin: auto;
        width: 75%;
    }

    .container-75 > div > p:first-child {
        padding-top: 3em;
    }


    .replacement_area {
        background-color:#005eff;
        border-top: 7px solid #bb202e;
        color: #000;
        margin-top: -45px;
        max-height: 135px;
        position: relative;
        width: 100%;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) {
        margin: 0 auto;
        width: 75%;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
        bottom: 0;
        left: 25%;
        margin-bottom: 0;
        margin-top: -45px;
        padding-bottom: 0;
        padding-right: 1.5em;
        position: absolute;
        transform: translateX(-66%);
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > h4:nth-child(1) {
        color: #e6e6e6;
        text-align: center;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > h5:nth-child(2) {
        color: #e6e6e6;
        text-align: center;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > h5:nth-child(2) > a:nth-child(1) {
        color: #fff;
    }

    .proudly-serving {
        display: block;
        font-size: 3em;
        margin-top: 0em;
        min-height: 100px;
    }

    .proudly-serving i {
        display: inline-block;
       height: 100%;
       line-height: 1;
       min-height: 100px;
       padding: .5em;
       text-transform: capitalize;
       width: 100%;
    }

    .footer-body {
        margin: 0 auto;
        padding-top: 1em;

    }

    .footer-content {
        color: #fff;
        margin: 0 auto;
        max-width: 968px;
        text-align: center;
    }

    .my-1 {
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .pl-3 {
        padding-left: 3em;
    }

    .f_title {
        margin-bottom: 1em;
    }

    ul.footer-nav-menu {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0 0 1em;
        width: 50%;
    }

    ul.footer-nav-menu li {
        display: inline;
        padding-left: 0;
        width: 100%;
        text-align:left;
    }

    .payment-options {
        text-align: left;
    }

    .footer_address > p {
        padding: initial;
        text-align: left;
    }

}

@media screen and (min-width: 1920px) {
    
    .flex-me-1 > li:nth-child(1) > a:nth-child(1) > i:nth-child(1) {
    margin-left: .66em;
    padding-right: .33em;
}
    .proudly-serving {
        margin: .5em auto 0;
        min-height: 100px;
        font-size: 50px;
    }

    .w-75 {
        margin: 0 auto;
        width: 85%;
        max-width: 95%;
    }

    .replacement_area > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
        left: 33%;
    }
    .footer-submenu-item {
        text-align: center;
    }

    .footer-submenu-item a {
        font-size: 1em;
    }
}


