<div class="popup_form appint_form">
    <div class="appointment_form">
        <div class="apt_form_head">
            <h3>Appointment</h3>
            <a href="#" title="" class="close_apt_form"><img src="images/close.png" alt=""></a>
        </div><!--apt_form_head end-->
        <form class="rqs_form">
            <div class="input_field">
                <input type="text" name="name" placeholder="Your name">
            </div><!--input_field end-->
            <div class="input_field">
                <input type="email" name="email" placeholder="Your e-mail">
            </div><!--input_field end-->
            <div class="input_field">
                <input type="text" name="address" placeholder="Address">
            </div><!--input_field end-->
            <div class="input_field slct">
                <select>
                    <option>Type of service needed:</option>
                    <option value="serive1">Service 1 </option>
                    <option value="serive2">Service 2</option>
                    <option value="serive3">Service 3</option>
                    <option value="serive4">Service 4</option>
                </select>
            </div><!--input_field end-->
            <div class="input_field datetimepicker-wrap">
                <input type="text" name="rq_date" placeholder="Requested date of service?" class="datetimepicker">
                <svg version="1.1" id="Capa_123084" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
                <g>
                    <g>
                        <path d="M452,40h-24V0h-40v40H124V0H84v40H60C26.916,40,0,66.916,0,100v352c0,33.084,26.916,60,60,60h392
                            c33.084,0,60-26.916,60-60V100C512,66.916,485.084,40,452,40z M472,452c0,11.028-8.972,20-20,20H60c-11.028,0-20-8.972-20-20V188
                            h432V452z M472,148H40v-48c0-11.028,8.972-20,20-20h24v40h40V80h264v40h40V80h24c11.028,0,20,8.972,20,20V148z"></path>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="76" y="230" width="40" height="40"></rect>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="156" y="230" width="40" height="40"></rect>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="236" y="230" width="40" height="40"></rect>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="316" y="230" width="40" height="40"></rect>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="396" y="230" width="40" height="40"></rect>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="76" y="310" width="40" height="40"></rect>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="156" y="310" width="40" height="40"></rect>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="236" y="310" width="40" height="40"></rect>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="316" y="310" width="40" height="40"></rect>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="76" y="390" width="40" height="40"></rect>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="156" y="390" width="40" height="40"></rect>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="236" y="390" width="40" height="40"></rect>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="316" y="390" width="40" height="40"></rect>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="396" y="310" width="40" height="40"></rect>
                    </g>
                </g>
                </svg>
            </div><!--input_field end-->
            <div class="input_field datetimepicker-wrap">
                <input type="text" name="time_svs" placeholder="Requested time of service?" class="datetimepicker2">
                <svg version="1.1" id="Capa_14899" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="97.16px" height="97.16px" viewBox="0 0 97.16 97.16" xml:space="preserve">
                <g>
                    <g>
                        <path d="M48.58,0C21.793,0,0,21.793,0,48.58s21.793,48.58,48.58,48.58s48.58-21.793,48.58-48.58S75.367,0,48.58,0z M48.58,86.823
                            c-21.087,0-38.244-17.155-38.244-38.243S27.493,10.337,48.58,10.337S86.824,27.492,86.824,48.58S69.667,86.823,48.58,86.823z"></path>
                        <path d="M73.898,47.08H52.066V20.83c0-2.209-1.791-4-4-4c-2.209,0-4,1.791-4,4v30.25c0,2.209,1.791,4,4,4h25.832
                            c2.209,0,4-1.791,4-4S76.107,47.08,73.898,47.08z"></path>
                    </g>
                </g>
                </svg>
            </div><!--input_field end-->
            <div class="submit_btn">
                <input type="submit" name="submit" value="Submit Request">
            </div><!--submit_btn end-->
        </form>
    </div>
</div><!--popup_form end-->

<div class="popup_form contact_popup">
    <div class="appointment_form">
        <div class="apt_form_head">
            <h3>Contact Us</h3>
            <a href="#" title="" class="close_apt_form"><img src="images/close.png" alt=""></a>
        </div><!--apt_form_head end-->
        <form class="rqs_form">
            <div class="input_field">
                <input type="text" name="name" placeholder="Your name">
            </div><!--input_field end-->
            <div class="input_field">
                <input type="text" name="phone" placeholder="Your Phone">
            </div><!--input_field end-->
            <div class="input_field">
                <input type="email" name="email" placeholder="Your e-mail">
            </div><!--input_field end-->
            <div class="input_field">
                <textarea name="message" placeholder="Message"></textarea>
            </div><!--input_field end-->
            <div class="submit_btn">
                <input type="submit" name="submit" value="Send Message">
            </div><!--submit_btn end-->
        </form>
    </div>
</div><!--popup_form end-->
<!--
<div class="popup_form direction_form">
    <div class="appointment_form">
        <div class="apt_form_head">
            <h3>Get Directions</h3>
            <a href="#" title="" class="close_apt_form"><img src="images/close.png" alt=""></a> -->
        </div><!--apt_form_head end-->

        <!-- 
        <div class="direction_map">
            <div class="mapouter">
                <iframe id="gmap_canvas2" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
            </div>
            <form class="address_list">
                <ul>
                    <li>
                        <span class="mapp_icon">
                            <svg version="1.1" id="Capa_37892" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="22px" viewBox="0 0 97.713 97.713" xml:space="preserve">
                                <g>
                                    <path d="M48.855,0C29.021,0,12.883,16.138,12.883,35.974c0,5.174,1.059,10.114,3.146,14.684
                                        c8.994,19.681,26.238,40.46,31.31,46.359c0.38,0.441,0.934,0.695,1.517,0.695s1.137-0.254,1.517-0.695
                                        c5.07-5.898,22.314-26.676,31.311-46.359c2.088-4.57,3.146-9.51,3.146-14.684C84.828,16.138,68.69,0,48.855,0z M48.855,54.659
                                        c-10.303,0-18.686-8.383-18.686-18.686c0-10.304,8.383-18.687,18.686-18.687s18.686,8.383,18.686,18.687
                                        C67.542,46.276,59.159,54.659,48.855,54.659z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                        <div class="adv_info">
                            <h4>Address #1:  </h4>
                            <p>1531 Moonlight Drive, Maple Shade, NJ</p>
                        </div> --><!--adv_info end--> 
                    <!--
                        </li>
                    <li>
                        <span class="mapp_icon">
                            <svg version="1.1" id="Capa_384544" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="22px" viewBox="0 0 97.713 97.713" xml:space="preserve">
                                <g>
                                    <path d="M48.855,0C29.021,0,12.883,16.138,12.883,35.974c0,5.174,1.059,10.114,3.146,14.684
                                        c8.994,19.681,26.238,40.46,31.31,46.359c0.38,0.441,0.934,0.695,1.517,0.695s1.137-0.254,1.517-0.695
                                        c5.07-5.898,22.314-26.676,31.311-46.359c2.088-4.57,3.146-9.51,3.146-14.684C84.828,16.138,68.69,0,48.855,0z M48.855,54.659
                                        c-10.303,0-18.686-8.383-18.686-18.686c0-10.304,8.383-18.687,18.686-18.687s18.686,8.383,18.686,18.687
                                        C67.542,46.276,59.159,54.659,48.855,54.659z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                        <div class="adv_info">
                            <h4>Address #1:  </h4>
                            <p>1531 Moonlight Drive, Maple Shade, NJ</p>
                        </div> --><!--adv_info end-->
                    <!-- </li>
                    <li>
                        <span class="mapp_icon">
                            <svg version="1.1" id="Capa_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="22px" viewBox="0 0 97.713 97.713" xml:space="preserve">
                                <g>
                                    <path d="M48.855,0C29.021,0,12.883,16.138,12.883,35.974c0,5.174,1.059,10.114,3.146,14.684
                                        c8.994,19.681,26.238,40.46,31.31,46.359c0.38,0.441,0.934,0.695,1.517,0.695s1.137-0.254,1.517-0.695
                                        c5.07-5.898,22.314-26.676,31.311-46.359c2.088-4.57,3.146-9.51,3.146-14.684C84.828,16.138,68.69,0,48.855,0z M48.855,54.659
                                        c-10.303,0-18.686-8.383-18.686-18.686c0-10.304,8.383-18.687,18.686-18.687s18.686,8.383,18.686,18.687
                                        C67.542,46.276,59.159,54.659,48.855,54.659z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                        <div class="adv_info">
                            <h4>Address #1:  </h4>
                            <p>1531 Moonlight Drive, Maple Shade, NJ</p>
                        </div> --><!--adv_info end-->
                    <!--</li>
                </ul>
            </form>
        </div>--><!--direction_map end-->
    <!--</div>
</div>--><!--popup_form end-->
