<div class="banner-section">
    <div class="banner-slider">
        <div class="banner-slide">
            <img src="./images/banner-img1.jpg" alt="banner image 1">
            <div class="fig_text">
                <h3>Bringing Comfort to</h3>
                <h2>Your Home 24/7!</h2>
            </div><!--fig_text end-->
        </div><!--banner-slide end-->
        <div class="banner-slide">
            <img src="./images/banner-img2.jpg" alt="banner image 2">
            <div class="fig_text">
                <h3>High-Quality Heating</h3>
                <h2>Installation & Repair</h2>
            </div><!--fig_text end-->
        </div><!--banner-slide end-->
        <div class="banner-slide">
            <img src="./images/banner-img3.jpg" alt="banner image 3">
            <div class="fig_text">
                <h3>Bringing Comfort to</h3>
                <h2>Your Home 24/7!</h2>
            </div><!--fig_text end-->
        </div><!--banner-slide end-->
        <div class="banner-slide">
            <img src="./images/banner-img4.jpg" alt="banner image 4">
            <div class="fig_text">
                <h3>High-Quality Heating</h3>
                <h2>Installation & Repair</h2>
            </div><!--fig_text end-->
        </div><!--banner-slide end-->
    </div><!--banner-slider end-->
    <div class="fgt-logo">
        <img src="images/ft-logo.png" alt="">
    </div><!--fgt-logo end-->
    <div class="fig_sec" style="display: none;">
    </div><!--fig_sec end-->
</div><!--banner-section end-->