<script src="js/jquery.js"></script>
<script src="js/plugins/bootstrap.min.js"></script>
<script src="js/plugins/moment.min.js"></script>
<script src="js/plugins/bootstrap-datetimepicker.min.js"></script>
<script src="js/plugins/jquery.form.js"></script>
<script src="js/plugins/jquery.validate.min.js"></script>
<script src="js/plugins/slick.min.js"></script>
<script src="js/plugins/custom-tabs.js"></script>
<script src="js/forms.js"></script>
<script src="js/scripts.js"></script>

</body>

</html>