<section class="block" id="faq">
    <div class="container">
        <div class="faqs_qs_sec">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="faqs-sec">
                        <h3 class="sc-title">Heating & Cooling <span>FAQ</span></h3>
                        <div class="ht-accordion toggle">
                            <div class="toggle-item">
                                <h2>What is the life expectancy of my HVAC system?</h2>
                                <div class="content">
                                    <p>How often you run your system, the system’s age, its make and model, and whether or not it was serviced regularly over the course of its life can all play a significant role in how long your system will last you.d/or air conditioner to last approximately 15 years. </p>
                                </div>
                            </div><!-- Toggle Item -->
                            <div class="toggle-item">
                                <h2>What brands do you install?</h2>
                                <div class="content">
                                    <p>How often you run your system, the system’s age, its make and model, and whether or not it was serviced regularly over the course of its life can all play a significant role in how long your system will last you.d/or air conditioner to last approximately 15 years.</p>
                                </div>
                            </div><!-- Toggle Item -->
                            <div class="toggle-item">
                                <h2>What is a heat pump?</h2>
                                <div class="content">
                                    <p>How often you run your system, the system’s age, its make and model, and whether or not it was serviced regularly over the course of its life can all play a significant role in how long your system will last you.d/or air conditioner to last approximately 15 years. </p>
                                </div>
                            </div><!-- Toggle Item -->
                            <div class="toggle-item">
                                <h2>Do I need HVAC maintenance?</h2>
                                <div class="content">
                                    <p>How often you run your system, the system’s age, its make and model, and whether or not it was serviced regularly over the course of its life can all play a significant role in how long your system will last you.d/or air conditioner to last approximately 15 years. </p>
                                </div>
                            </div><!-- Toggle Item -->
                        </div><!-- ht-accordion Accordion -->
                    </div><!--faqs-sec end-->
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="question_sec">
                        <h3 class="sc-title">Ask <span>Question</span></h3>
                        <form id="contactform" name="contactform" method="post" novalidate>
                            <div id="success">
                                <p>Your message was sent successfully!</p>
                            </div>
                            <div id="error">
                                <p>Something went wrong, try refreshing and submitting the form again.</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="input_field">
                                        <input type="text" name="name" placeholder="Your name">
                                    </div><!--input_field end-->
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="input_field">
                                        <input type="email" name="email" placeholder="Your e-mail">
                                    </div><!--input_field end-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="input_field slct">
                                        <select>
                                            <option>Choose service...</option>
                                            <option value="serive1">Choose service </option>
                                            <option value="serive2">Choose service</option>
                                            <option value="serive3">Choose service</option>
                                            <option value="serive4">Choose service</option>
                                        </select>
                                    </div><!--input_field end-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="input_field">
                                        <textarea name="message" placeholder="Your question"></textarea>
                                    </div><!--input_field end-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="submit_btn">
                                        <input type="submit" id="submit2" name="submit" value="Ask Question">
                                    </div><!--submit_btn end-->
                                </div>
                            </div>
                        </form>
                    </div><!--question_sec end-->
                </div>
            </div>
        </div><!--faqs_qs_sec end-->
    </div>
</section>