<!-- Proudly Serving Text -->
<div class="container-fluid mx-auto p-3 bg-beige">
    <div class="container text-center ">
        <h6>Proudly Serving The Midlothian, TX Area Since 2008</h6>
    </div>
</div>
<!-- Google Map Embed-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3368.85406323702!2d-97.0399369844772!3d32.39627351060762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864ef7891dec44fb%3A0x5833297996fd8780!2sHeritage%20Air%20Services%20LLC!5e0!3m2!1sen!2sus!4v1604889465767!5m2!1sen!2sus" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    {{ partial "quality-brand.html" . }}
    {{ partial "replacement-area.html" . }}
<footer class="footer-body">
    <div class="footer_widgets">
        <div class="container">
            <div class="row footer-content">
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widgets contact_widget">
                        <div class="f_title">
                            <h3>Contact Us</h3>
                        </div>
                        <address class="footer_address">
                            <p>Heritage Air Services, LLC.<br /> 8010 Norrell Road , Venus,<br /> TX 76084</p>
                            <p>Phone : <a href="tel:14697656571">1 (469) 765-6571</a></p>
                            <p>Email: Info@HeritageAirTX.com</p>
                        </address>
                    </aside>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widgets link_widget">
                        <div class="f_title">
                            <h3>Quick Links</h3>
                        </div>
                        <ul class="footer-nav-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Special</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Blog</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Financing</a></li>
                            <li><a href="#">Faq’s</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Schedule an <br />Appointment</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widgets payment_widget">
                        <div class="media">
                            <div class="d-flex">
                                <img src="images/footer-24-hours.png" alt="24 hour service">
                            </div>
                            <div class="media-body">
                                <h4>24-Hour Emergency Service Available</h4>
                            </div>
                        </div>
                        <h5>We Accept : <img src="./images/payment-card.png" alt=""></h5>
                    </aside>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="widget widget-about">
                        <!-- <img src="https://9by.fbd.myftpupload.com/wp-content/uploads/2019/12/cropped-HA-Logo-5-1-271x139.png" alt="logo"> -->
                        <!-- <p><span>2020 ©</span> Heritage Air Services, LLC. All rights reserved. </p> -->
                        <ul class="social_lnks">
                            <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title=""><i class="fa fa-instagram"></i></a></li>
                        </ul>
                        <!--social_lnks end-->
                    </div>
                    <!--widget-about end-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-12"></div>
            </div>
        </div>
    </div>
    <div class="footer_copyright">
        <div class="container">
            <div class="d-flex justify-content-between">
                <!-- <div class="left">
                    <p>Copyright © <a href="index.html">Heritage Air Services, LLC.</a>
                        <script>document.write(new Date().getFullYear());</script>. All right reserved.</p>
                </div> -->
                <!-- <div class="right">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Sitemap</a>
                </div> -->
            </div>
        </div>
    </div>
</footer>
<!-- Custom Schrader.co footer tag -->
<div class="schrader-footer">
    <div class="container text-center">
        Copyright © 2016-
        <script>document.write(new Date().getFullYear())</script> Heritage Air Texas | Website developed
        &amp; hosted by
        <a href="https://schrader.co" target="blank">Schrader Web Solutions</a>

    </div>
</div>