<footer>
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="widget widget-about">
                        <img src="images/ft-logo2.png" alt="">
                        <p><span>2020 ©</span> Heating & Cooling. All rights reserved. </p>
                        <ul class="social_lnks">
                            <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title=""><i class="fa fa-instagram"></i></a></li>
                        </ul><!--social_lnks end-->
                    </div><!--widget-about end-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="widget widget-contact">
                        <ul>
                            <li>
                                <span><small>P</small>home:</span> <span class="fl_right"><a href="tel:+1-609-123-45-67">1 (609) 123-45-67</a></span>
                            </li>
                            <li>
                                <span><small>E</small>mail:</span> <span class="fl_right">info@yourdomain.com</span>
                            </li>
                            <li>
                                <span><small>A</small>ddress:</span> <span class="fl_right">1531 Moonlight Drive, Maple Shade, NJ</span>
                            </li>
                            <li>Mon-Fri 8:00 AM - 8:00 PM, Sat-Sun</li>
                        </ul>
                    </div><!--widget-contact end-->
                </div>
                <div class="col-lg-5 col-md-4 col-sm-6">
                    <div class="our_map">
                        <div class="mapouter">
                            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                        </div>
                    </div><!--our_map end-->
                </div>
            </div>
        </div><!--footer-content end-->
    </div>
</footer><!--footer end-->