<div class="gallery-content">
    <div class="gallery-tab active" id="cooling-gallery-tab">
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
    </div><!--gallery-tab end-->
    <div class="gallery-tab" id="heating-gallery-tab">
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
        <div class="gallery-info">
            <img src="https://via.placeholder.com/384x384" alt="">
        </div><!--gallery-info end-->
    </div><!--gallery-tab end-->
</div><!--tab-content end-->
<div class="clearfix"></div>
</div><!--gallery-sec end-->