<div class="gallery-content">
    <div class="gallery-tab active" id="cooling-gallery-tab">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-info" onclick="showImage(0)">
                </div><!--gallery-info end-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-info" onclick="showImage(1)">
                </div><!--gallery-info end-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-info" onclick="showImage(2)">
                </div><!--gallery-info end-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-info" onclick="showImage(3)">
                </div><!--gallery-info end-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-info" onclick="showImage(4)">
                </div><!--gallery-info end-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-info" onclick="showImage(5)">
                </div><!--gallery-info end-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-info" onclick="showImage(6)">
                </div><!--gallery-info end-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-info" onclick="showImage(7)">
                </div><!--gallery-info end-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-info" onclick="showImage(8)">
                </div><!--gallery-info end-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-info" onclick="showImage(9)">
                </div><!--gallery-info end-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-info" onclick="showImage(10)">
                </div><!--gallery-info end-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-info" onclick="showImage(11)">
                </div><!--gallery-info end-->
            </div>
        </div>
    </div><!--gallery-tab end-->
</div><!--tab-content end-->
<div class="clearfix"></div>
</div><!--gallery-sec end-->

<section class="full-gallery">
    <div class="gallery-container">
        <div class="gallery-container-item">
            <figure><div class="row"><span class="close" onclick="closeLightbox(0)">&times;</span></div>
            </figure>            
        </div>
        <div class="gallery-container-item">
            <figure><div class="row"><span class="close" onclick="closeLightbox(1)">&times;</span></div></figure>
        </div>
        <div class="gallery-container-item">
            <figure><div class="row"><span class="close" onclick="closeLightbox(2)">&times;</span></div></figure>
            
        </div>
        <div class="gallery-container-item">
            <figure><div class="row"><span class="close" onclick="closeLightbox(3)">&times;</span></div></figure>            
        </div>
        <div class="gallery-container-item">
            <figure><div class="row"><span class="close" onclick="closeLightbox(4)">&times;</span></div>
            </figure>
        </div>
        <div class="gallery-container-item">
            <figure><div class="row"><span class="close" onclick="closeLightbox(5)">&times;</span></div>
            </figure>
            
        </div>
        <div class="gallery-container-item">
            <figure><div class="row"><span class="close" onclick="closeLightbox(6)">&times;</span></div>

            </figure>
        </div>
        <div class="gallery-container-item">
            <figure><div class="row"><span class="close" onclick="closeLightbox(7)">&times;</span></div>

            </figure>
        </div>
        <div class="gallery-container-item">
            <figure><div class="row"><span class="close" onclick="closeLightbox(8)">&times;</span></div>

            </figure>
        </div>
        <div class="gallery-container-item">
            <figure><div class="row"><span class="close" onclick="closeLightbox(9)">&times;</span></div>
            </figure>
        </div>
        <div class="gallery-container-item">
            <figure><div class="row"><span class="close" onclick="closeLightbox(10)">&times;</span></div>

            </figure>
        </div>
        <div class="gallery-container-item">
            <figure><div class="row"><span class="close" onclick="closeLightbox(11)">&times;</span></div>
                

            </figure>
        </div>
    </div>
    <span id="backward">&lsaquo;</span>
    <span id="forward">&rsaquo;</span>
</section>