<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="html 5 template, cooling, heating, electricity services">
	<meta name="author" content="Andrew M McCall">
	<link rel="icon" href="images/favicon_new.png">
	<link rel="author" href="https://andrew-mccall.com">
	<title>Heating and Conditioning</title>
	<!-- Bootstrap core CSS -->
	<link href="/css/plugins/bootstrap.min.css" rel="stylesheet">
	<link href="/css/plugins/bootstrap-datetimepicker.css" rel="stylesheet">
	<link href="/css/plugins/animate.min.css" rel="stylesheet">
	<link href="/css/plugins/slick.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/plugins/slick.css" rel="stylesheet">
	<link href="/css/custom.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/overrides.css">
	<!-- Icon Font-->
	<link href="/iconfont/style.css" rel="stylesheet">
</head>

<body class="home layout2">	