<section class="block">
    <div class="container">
        <div class="sec-title">
            <h4>Read our latest articles</h4>
            <h2>Company News</h2>
        </div><!--sec-title end-->
        <div class="blog-posts">
            <div class="row blog_carousel">
                <div class="col-lg-4">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="./images/blog1.jpg" alt="">
                        </div>
                        <div class="blog-info">
                            <ul class="meta">
                                <li>
                                    <span class="posted_date">
                                        19
                                        <b>Sep</b>
                                    </span>
                                </li>
                                <li><a href="#" title="">0 Comments</a></li>
                            </ul><!--meta end-->
                            <h2 class="post-title"><a href="#" title="">The Emergency Heat Switch on Heat Pumps — What is It and How Does It Work</a></h2>
                            <a href="#" title=""><i class="fa fa-play"></i>Continue Reading</a>
                        </div><!--blog-info end-->
                    </div><!--blog-post end-->
                </div>
                <div class="col-lg-4">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="./images/blog2.jpg" alt="">
                        </div>
                        <div class="blog-info">
                            <ul class="meta">
                                <li>
                                    <span class="posted_date">
                                        25
                                        <b>Oct</b>
                                    </span>
                                </li>
                                <li><a href="#" title="">0 Comments</a></li>
                            </ul><!--meta end-->
                            <h2 class="post-title"><a href="#" title="">It’s Never Too Late for Furnace Installation</a></h2>
                            <a href="#" title=""><i class="fa fa-play"></i>Continue Reading</a>
                        </div><!--blog-info end-->
                    </div><!--blog-post end-->
                </div>
                <div class="col-lg-4">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="./images/blog3.jpg" alt="">
                        </div>
                        <div class="blog-info">
                            <ul class="meta">
                                <li>
                                    <span class="posted_date">
                                        29
                                        <b>Oct</b>
                                    </span>
                                </li>
                                <li><a href="#" title="">0 Comments</a></li>
                            </ul><!--meta end-->
                            <h2 class="post-title"><a href="#" title="">Next-generation Heat Pump Offers More Affordable Heating and Cooling </a></h2>
                            <a href="#" title=""><i class="fa fa-play"></i>Continue Reading</a>
                        </div><!--blog-info end-->
                    </div><!--blog-post end-->
                </div>
                <div class="col-lg-4">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="./images/blog1.jpg" alt="">
                        </div>
                        <div class="blog-info">
                            <ul class="meta">
                                <li>
                                    <span class="posted_date">
                                        19
                                        <b>Sep</b>
                                    </span>
                                </li>
                                <li><a href="#" title="">0 Comments</a></li>
                            </ul><!--meta end-->
                            <h2 class="post-title"><a href="#" title="">The Emergency Heat Switch on Heat Pumps — What is It and How Does It Work</a></h2>
                            <a href="#" title=""><i class="fa fa-play"></i>Continue Reading</a>
                        </div><!--blog-info end-->
                    </div><!--blog-post end-->
                </div>
                <div class="col-lg-4">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="./images/blog2.jpg" alt="">
                        </div>
                        <div class="blog-info">
                            <ul class="meta">
                                <li>
                                    <span class="posted_date">
                                        25
                                        <b>Oct</b>
                                    </span>
                                </li>
                                <li><a href="#" title="">0 Comments</a></li>
                            </ul><!--meta end-->
                            <h2 class="post-title"><a href="#" title="">It’s Never Too Late for Furnace Installation</a></h2>
                            <a href="#" title=""><i class="fa fa-play"></i>Continue Reading</a>
                        </div><!--blog-info end-->
                    </div><!--blog-post end-->
                </div>
                <div class="col-lg-4">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="./images/blog3.jpg" alt="">
                        </div>
                        <div class="blog-info">
                            <ul class="meta">
                                <li>
                                    <span class="posted_date">
                                        29
                                        <b>Oct</b>
                                    </span>
                                </li>
                                <li><a href="#" title="">0 Comments</a></li>
                            </ul><!--meta end-->
                            <h2 class="post-title"><a href="#" title="">Next-generation Heat Pump Offers More Affordable Heating and Cooling </a></h2>
                            <a href="#" title=""><i class="fa fa-play"></i>Continue Reading</a>
                        </div><!--blog-info end-->
                    </div><!--blog-post end-->
                </div>
                <div class="col-lg-4">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="./images/blog1.jpg" alt="">
                        </div>
                        <div class="blog-info">
                            <ul class="meta">
                                <li>
                                    <span class="posted_date">
                                        19
                                        <b>Sep</b>
                                    </span>
                                </li>
                                <li><a href="#" title="">0 Comments</a></li>
                            </ul><!--meta end-->
                            <h2 class="post-title"><a href="#" title="">The Emergency Heat Switch on Heat Pumps — What is It and How Does It Work</a></h2>
                            <a href="#" title=""><i class="fa fa-play"></i>Continue Reading</a>
                        </div><!--blog-info end-->
                    </div><!--blog-post end-->
                </div>
                <div class="col-lg-4">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="./images/blog2.jpg" alt="">
                        </div>
                        <div class="blog-info">
                            <ul class="meta">
                                <li>
                                    <span class="posted_date">
                                        25
                                        <b>Oct</b>
                                    </span>
                                </li>
                                <li><a href="#" title="">0 Comments</a></li>
                            </ul><!--meta end-->
                            <h2 class="post-title"><a href="#" title="">It’s Never Too Late for Furnace Installation</a></h2>
                            <a href="#" title=""><i class="fa fa-play"></i>Continue Reading</a>
                        </div><!--blog-info end-->
                    </div><!--blog-post end-->
                </div>
                <div class="col-lg-4">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="./images/blog3.jpg" alt="">
                        </div>
                        <div class="blog-info">
                            <ul class="meta">
                                <li>
                                    <span class="posted_date">
                                        29
                                        <b>Oct</b>
                                    </span>
                                </li>
                                <li><a href="#" title="">0 Comments</a></li>
                            </ul><!--meta end-->
                            <h2 class="post-title"><a href="#" title="">Next-generation Heat Pump Offers More Affordable Heating and Cooling </a></h2>
                            <a href="#" title=""><i class="fa fa-play"></i>Continue Reading</a>
                        </div><!--blog-info end-->
                    </div><!--blog-post end-->
                </div>
            </div>
        </div><!--blog-posts end-->
    </div>
</section><!--latest-articles end-->