<section class="newsletter-sec">
    <div  class="container">
        <ul class="nss_list">
            <li>
                <span>24/Hour</span> Emergency Service  
            </li>
            <li>
                <span>Free</span> Consultations  
            </li>
            <li>
                Newsletter Subscribe  
            </li>
        </ul><!--nss_list end-->
        <form class="newsletter_form">
            <input type="text" name="search" placeholder="Your e-mail...">
            <input type="submit" name="submit" value="OK">
        </form><!--newsletter_form  end-->
    </div>
</section><!--newsletter-sec end-->