<section class="block partners-sec">
    <div class="container">
        <div class="sec-title">
            <h4>Quality brands we trust</h4>
            <h2>Our Partners</h2>
        </div><!--sec-title end-->
        <div class="pt_carousel">
            <div class="pt-logo">
                <img src="./images/pt-logo1.png" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="./images/pt-logo2.png" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="./images/pt-logo3.png" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="./images/pt-logo4.png" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="./images/pt-logo5.png" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="./images/pt-logo6.png" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="./images/pt-logo7.png" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="./images/pt-logo8.png" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="./images/pt-logo1.png" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="./images/pt-logo2.png" alt="">
            </div><!--pt-logo end-->
        </div><!--pt_carousel end-->
    </div>
</section><!--partners-sec end-->