<section class="block partners-sec">
    <div class="container">
        <div class="sec-title">
            <h4>Quality brands we trust</h4>
            <h2>Our Partners</h2>
        </div><!--sec-title end-->
        <div class="pt_carousel">
            <div class="pt-logo">
                <img src="https://via.placeholder.com/110x75" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="https://via.placeholder.com/110x75" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="https://via.placeholder.com/110x75" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="https://via.placeholder.com/110x75" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="https://via.placeholder.com/110x75" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="https://via.placeholder.com/110x75" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="https://via.placeholder.com/110x75" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="https://via.placeholder.com/110x75" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="https://via.placeholder.com/110x75" alt="">
            </div><!--pt-logo end-->
            <div class="pt-logo">
                <img src="https://via.placeholder.com/110x75" alt="">
            </div><!--pt-logo end-->
        </div><!--pt_carousel end-->
    </div>
</section><!--partners-sec end-->