<section class="qck-sec">
    <div class="container">
        <div class="qck-sec-details">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="qck-imgs">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="qck-img mgt--24">
                                    <img src="https://via.placeholder.com/240x479" alt="">
                                </div><!--qck-img end-->
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="qck-img mgb-30">
                                    <img src="https://via.placeholder.com/240x225" alt="">
                                </div><!--qck-img end-->
                                <div class="qck-img">
                                    <img src="https://via.placeholder.com/240x225" alt="">
                                </div><!--qck-img end-->
                            </div>
                        </div>
                    </div><!--qck-imgs end-->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="qck-services">
                        <h4>Your home comfort experts </h4>
                        <h2><span>Quality</span> Heating & Cooling Services</h2>
                        <p>We provide customers with an industry leading 10-year installation warranty and a two-year service and repair warranty. With most companies, you will get a standard manufacturers warranty on installations and a one-year warranty on service and repair work. </p>
                        <p> We believe our warranties set us apart from our competitors and show our commitment to quality work and service. </p>
                        <a href="about_page.html" title="" class="lnk-default">Read More</a>
                    </div><!---qck-services end-->
                </div>
            </div>
        </div><!--qck-sec-details end-->
    </div>
</section><!---qck-sec end-->