<section class="qck-sec">
    <div class="container">
        <div class="qck-sec-details">
            <div class="row">
                <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="qck-imgs">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="qck-img mgt--24">
                                    <img src="./images/img1.jpg" alt="image 1">
                                </div><!--qck-img end
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="qck-img mgb-30">
                                    <img src="./images/img2.jpg" alt="image 2">
                                </div><!--qck-img end
                                <div class="qck-img">
                                    <img src="./images/img3.jpg" alt="image 3">
                                </div><!--qck-img end-->
                            <!-- </div> -->
                        </div>
                    </div><!--qck-imgs end
                </div> -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="qck-services qck-formatting">
                        <h2 class="text-center"><span>Quality</span> Heating & Cooling Services</h2>
                        <p>We provide customers with an industry leading 10-year installation warranty and a two-year service and repair warranty. With most companies, you will get a standard manufacturers warranty on installations and a one-year warranty on service and repair work. </p>
                        <p> We believe our warranties set us apart from our competitors and show our commitment to quality work and service. </p>
                        <a href="/about-us" id="read-more" title="About us" class="lnk-default">Read More About Us</a>
                    </div><!---qck-services end-->
                </div>
            </div>
        </div><!--qck-sec-details end-->
    </div>
</section><!---qck-sec end-->