<div class="responsive-menu">
    <a href="#" title="" class="close-mobile-menu"><img src="images/close.png" alt=""></a>
    <ul>
        <li><a href="/" title="">HOME</a></li>
        <li><a href="about-us" title="">About us</a></li>
        <li><a href="/services" title="">Services</a>
            <ul>
                <li><a href="/services/residential/" title="">Residential</a></li>
                <li><a href="/services/commercial/" title="">Commercial</a></li>
                <li><a href="/services/residential-preventative-maintenance/" title="">Residential Preventative Services</a></li>
                <li><a href="/services/new-commercial-system-sales/" title="">Commercial System Sales</a></li>
                <li><a href="/services/new-residential-system-sales/" title="">Residential System Sales</a></li>
            </ul>
        </li>
        <li><a href="#" title="">Service Area</a></li>
        <li><a href="#" title="">Gallery</a></li>
            <!-- <ul>
                <li><a href="#" title="">Blog</a></li>
                <li><a href="#" title="">Blog Single</a></li>
            </ul> -->
        </li>
        <li><a href="#" title="">faqs</a></li>
        <li><a href="#" title="">contact us</a></li>
    </ul>
</div><!--responsive-menu end-->