<div class="responsive-menu">
    <a href="#" title="" class="close-mobile-menu"><img src="images/close.png" alt=""></a>
    <ul>
        <li><a href="/" title="">HOME</a></li>
        <li><a href="about-us" title="">About us</a></li>
        <li><a href="/services" title="">Services</a>
            <ul>
                <li><a href="/services/residential/" title="">Residential</a></li>
                <li><a href="/services/commercial/" title="">Commercial</a></li>
                <li><a href="/services/residential-preventative-maintenance/" title="">Residential Preventative Services</a></li>
                <li><a href="/services/new-commercial-system-sales/" title="">Commercial System Sales</a></li>
                <li><a href="/services/new-residential-system-sales/" title="">Residential System Sales</a></li>
            </ul>
        </li>
        <li><a href="/service-areas" title="">Service Areas</a>
            <ul>
                <li><a href="/service-areas/dallas-county">Dallas County</a></li>
                <li><a href="/service-areas/ellis-county">Ellis County</a></li>
                <li><a href="/service-areas/johnson-county">Johnson County</a></li>
                <li><a href="/service-areas/parker-county">Parker County</a></li>
                <li><a href="/service-areas/tarrant-county">Tarrant County</a></li>
                <li><a href="/service-areas/rockwall-county">Rockwall County</a></li>
            </ul>
            </li>
        <li><a href="/gallery" title="gallery">Gallery</a></li>
        <li><a href="/" title="">faqs</a></li>
        <li><a href="/contact" title="">contact us</a></li>
    </ul>
</div><!--responsive-menu end-->