<div class="responsive-menu">
    <a href="#" title="" class="close-mobile-menu"><img src="images/close.png" alt=""></a>
    <ul>
        <li><a href="#" title="">HOME</a></li>
        <li><a href="#" title="">About us</a></li>
        <li><a href="#" title="">Services</a>
            <ul>
                <li><a href="#" title="">Services</a></li>
                <li><a href="#" title="">Services Single</a></li>
            </ul>
        </li>
        <li><a href="#" title="">Prices</a></li>
        <li><a href="#" title="">Gallery</a></li>
        <li><a href="#" title="">blog</a>
            <ul>
                <li><a href="#" title="">Blog</a></li>
                <li><a href="#" title="">Blog Single</a></li>
            </ul>
        </li>
        <li><a href="#" title="">faqs</a></li>
        <li><a href="#" title="">contact us</a></li>
    </ul>
</div><!--responsive-menu end-->