<section class="block testi-sec">
    <div class="fixed-bg bg5"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <div class="testimonial text-center">
                    <h3>Customer <span>Testimonials</span></h3>
<h4>Please leave a review for us on <a href="http://search.google.com/local/writereview?placeid=ChIJ-0TsHYn3ToYRgIf9lnkpM1g" class="link-margin-center" target="blank"><u>Google</u></a> | <a href="https://www.facebook.com/HeritageAirTX/reviews/" target="blank"><u>Facebook</u></a>.</h4>

 <a href="http://search.google.com/local/writereview?placeid=ChIJ-0TsHYn3ToYRgIf9lnkpM1g" class="link-margin-center" target="blank"><img loading="lazy" src="/images/google-review.png" alt="google reviews"><a/>    <a href="https://www.facebook.com/HeritageAirTX/reviews/" target="blank"><img loading="lazy" src="/images/fb-review.jpg" alt="facebook reviews"></a>

<br /><br />

                    <div class="testi_carousel">
                        <div class="testi_slide">
                            <p>TRUSTWORTHY company! Stephen came by and inspected the HVAC system on a house I’m trying to buy, and I’m so glad I chose this company. Not only was their inspection rate lower than others, the five star reviews truly defines this company. Stephen is an honest worker(professional technician here, not a salesman).</p>


                    <img loading="lazy" style="width: 200px; margin: 1em auto;" src="/images/stars.png" alt="testimonial stars" class="testimonial-stars">

                            <h4><strong>– S.S.,</strong> customer</h4>
                        </div>
                        <div class="testi_slide">
                            <p>Communication prior to the visit was great and the Technician arrived on time. He explained everything before he started the work, so we knew what to expect in the store. Before he left he checked back with me to let me know how everything went and scheduled our next visit.</p>

                    <img loading="lazy" style="width: 200px; margin: 1em auto;" src="/images/stars.png" alt="testimonial stars" class="testimonial-stars">


                            <h4><strong>– Shara Gilkey,</strong> customer</h4>
                        </div>
                        <div class="testi_slide">
                            <p>Fast service and reasonably priced! Technician was very knowledgeable, friendly and didn't mind taking the time to answer all my questions.
                                Will definitely use again in the future!</p>

                    <img loading="lazy" style="width: 200px; margin: 1em auto;" src="/images/stars.png" alt="testimonial stars" class="testimonial-stars">


                            <h4><strong>– Emily,</strong> customer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
