<section class="block testi-sec">
    <div class="fixed-bg bg5"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <div class="testimonial text-center">
                    <h3>Customer <span>Testimonials</span></h3>
<h4>Please leave a review for us on <a href="http://search.google.com/local/writereview?placeid=ChIJ-0TsHYn3ToYRgIf9lnkpM1g" class="link-margin-center" target="blank"><u>Google</u></a> | <a href="https://www.facebook.com/HeritageAirTX/reviews/" target="blank"><u>Facebook</u></a>.</h4>

 <a href="http://search.google.com/local/writereview?placeid=ChIJ-0TsHYn3ToYRgIf9lnkpM1g" class="link-margin-center" target="blank"><img src="./images/google-review.png"><a/>    <a href="https://www.facebook.com/HeritageAirTX/reviews/" target="blank"><img src="./images/fb-review.jpg"></a>

<br /><br />

                    <div class="testi_carousel">
                        <div class="testi_slide">
                            <p>All work was explained and we were shown where and what was to be done. Price was very fair. Workers were on time and ready to work. Job finished on time. Everything was cleaned and vacuumed. System worked properly. It was very nice to work with a company that had very polite and helpful employees at the job and in the office.</p>


                    <img style="width: 200px;" src="./images/stars.png" alt="testimonial stars" class="testimonial-stars">

                            <h4><strong>– Wilson Trayer,</strong> customer</h4>
                        </div>
                        <div class="testi_slide">
                            <p>All work was explained and we were shown where and what was to be done. Price was very fair. Workers were on time and ready to work. Job finished on time. Everything was cleaned and vacuumed. System worked properly. It was very nice to work with a company that had very polite and helpful employees at the job and in the office.</p>

                    <img style="width: 200px;" src="./images/stars.png" alt="testimonial stars" class="testimonial-stars">


                            <h4><strong>– Wilson Trayer,</strong> customer</h4>
                        </div>
                        <div class="testi_slide">
                            <p>All work was explained and we were shown where and what was to be done. Price was very fair. Workers were on time and ready to work. Job finished on time. Everything was cleaned and vacuumed. System worked properly. It was very nice to work with a company that had very polite and helpful employees at the job and in the office.</p>

                    <img style="width: 200px;" src="./images/stars.png" alt="testimonial stars" class="testimonial-stars">


                            <h4><strong>– Wilson Trayer,</strong> customer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
