
    <div class="container-fluid text-center bg-beige">
        <h6 class="proudly-serving"><i>Proudly Serving The Midlothian, Texas Area Since 2008!</i></h6>

<br>

<h4>See Our Reviews On:</h4>   <a href="https://search.google.com/local/reviews?placeid=ChIJ-0TsHYn3ToYRgIf9lnkpM1g" class="review-icons" target="blank"><img src="/images/view-google-reviews.jpg" alt="google reviews" loading="lazy"></a><a href="https://www.facebook.com/HeritageAirTX/reviews/" class="review-icons" target="blank"><img src="/images/view-fb-reviews.jpeg" alt="facebook reviews" loading="lazy"></a>

    </div>


<!-- Proudly Serving Text -->
<!-- <div class="container-fluid mx-auto p-3 bg-beige">
    <div class="container text-center ">
        <h6>Proudly Serving The Midlothian, TX Area Since 2008</h6>
    </div>
</div> -->
<!-- Google Map Embed-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3368.85406323702!2d-97.0399369844772!3d32.39627351060762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864ef7891dec44fb%3A0x5833297996fd8780!2sHeritage%20Air%20Services%20LLC!5e0!3m2!1sen!2sus!4v1604889465767!5m2!1sen!2sus&zoom=9" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    {{ partial "quality-brand.html" . }}
    {{ partial "replacement-area.html" . }}
<footer>
    <div class="container w-75">
        <div class="col-lg-3 col-md-12 col-sm-12 text-center"><address>
            <ul class="footer-address">
                <a href="/"><img loading="lazy" src="/images/heritage-logo-2.png" class="footer-image" alt="footer logo"></a>
                <li class="footer-address-item"><i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span class="address-text">Heritage Air Services, LLC. 8010 Norrell Rd. Venus, TX 76084</span></li>
                <li class="footer-address-item"><i class="fa fa-phone" aria-hidden="true"></i><span class="address-text"><a href="tel:14697656571" title="phone number">(469) 765-6571</a></span></li>
                <li class="footer-address-item"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    <span class="address-text">Info@HeritageAirTX.com</span></li>
            </ul>
        </address></div>
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <ul class="footer-submenu">                
                        <header class="footer-submenu-header">
                            <h6 class="footer-submenu-header-title">Resources</h6>
                        </header>
                        <li class="footer-submenu-item"><a href="#">Link Here</a></li>
                        <li class="footer-submenu-item"><a href="#">Link Here</a></li>
                        <li class="footer-submenu-item"><a href="#">Link Here</a></li>
                        <li class="footer-submenu-item"><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <ul class="footer-submenu">
                        <header class="footer-submenu-header">
                            <h6 class="footer-submenu-header-title">Service Area</h6>
                        </header>
                        <li class="footer-submenu-item"><a href="/service-areas/dallas-county">Dallas County</a></li>
                        <li class="footer-submenu-item"><a href="/service-areas/ellis-county">Ellis County</a></li>
                        <li class="footer-submenu-item"><a href="/service-areas/johnson-county">Johnson County</a></li>
                        <li class="footer-submenu-item"><a href="/service-areas/parker-county">Parker County</a></li>
                        <li class="footer-submenu-item"><a href="/service-areas/tarrant-county">Tarrant County</a></li>
                        <li class="footer-submenu-item"><a href="/service-areas/rockwall-county">Rockwall County</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <ul class="footer-submenu">
                        <header class="footer-submenu-header">
                            <h6 class="footer-submenu-header-title">Our Services</h6>
                        </header>
                        <li class="footer-submenu-item"><a href="/services/residential/" title="">Residential</a></li>
                            <li class="footer-submenu-item"><a href="/services/commercial/" title="">Commercial</a></li>
                            <li class="footer-submenu-item"><a href="/services/residential-preventative-maintenance/" title="">Residential Preventative Services</a></li>
                            <li class="footer-submenu-item"><a href="/services/new-commercial-system-sales/" title="">Commercial System Sales</a></li>
                            <li class="footer-submenu-item"><a href="/services/new-residential-system-sales/" title="">Residential System Sales</a></li>
                    </ul>
                </div>
            </div>           
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 text-center">
            <ul class="footer-submenu">
                <header class="footer-submenu-header">
                    <h6 class="footer-submenu-header-title">Connect With Us</h6>
                </header>
                <li class="footer-submenu-item social-item"><a href="https://www.facebook.com/HeritageAirTX/" target="_blank" rel="nofollow noreferrer" title="facebook" class="social-item-link"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="footer-submenu-item social-item"><a href="https://goo.gl/maps/wSNsrHgYURitb5TAA" class="social-item-link"><i class="fa fa-google" aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- Custom Schrader.co footer tag -->
<div class="schrader-footer">
    <div class="container text-center">
        Copyright © 2016-
        <script>document.write(new Date().getFullYear())</script> Heritage Air Texas | Website developed
        &amp; hosted by
        <a href="https://schrader.co" target="blank">Schrader Web Solutions</a>

    </div>
</div>