
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  text-align: center;
}

.card > h2 > a:hover {
  text-decoration: underline;
}

@media screen and (min-width:968px) {

  .cards {
    display: flex;
    flex-direction: row;

    margin: 5em auto 0;
  }
  
  .cards:nth-child(1) {
    margin-bottom: 1em;
  }

  .card > h2 {
    font-size: 1.75em;
  }
  .card {
    background: white;
    border: 1px solid #f4f4f4;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1.5rem;
    box-shadow: 0px 15px 30px rgba(44,44,44,0.10);
    max-width: 275px;
    min-height: 25vh;
    text-align: initial;
    transition: 0.2s;
  }
  .card:not(:first-child) {
    margin-left: -2rem;
  }
  .card:not(:last-child):hover,
  .card:not(:last-child):focus-within {
    transform: translateY(-1rem);
    ~ .card {
      transform: translateX(2rem);
    }
  }
  

}


