{{define "main" }}

<div class="row mx-auto d-block justify-content-center text-center">
    <h2 class="">{{.Title}}</h2>
</div>

    {{ .Content }}

    <ul id="lightSlider" style="max-height: 75vh; margin-top: 25vh;">
        <li style="background-image: url('{{ .Site.BaseURL }}images/residential-jobs/residential-1.jpg'); background-position:center; background-size:cover;background-repeat:no-repeat; height: 499px; width: 499px">
        <li style="background-image: url('{{ .Site.BaseURL }}images/residential-jobs/residential-2.jpg'); background-position:center; background-size:cover;background-repeat:no-repeat; height: 499px; width: 499px">
        <li style="background-image: url('{{ .Site.BaseURL }}images/residential-jobs/residential-3.jpg'); background-position:center; background-size:cover;background-repeat:no-repeat; height: 499px; width: 499px">
        <li style="background-image: url('{{ .Site.BaseURL }}images/residential-jobs/residential-4.jpg'); background-position:center; background-size:cover;background-repeat:no-repeat; height: 499px; width: 499px">
        <li style="background-image: url('{{ .Site.BaseURL }}images/residential-jobs/residential-5.jpg'); background-position:center; background-size:cover;background-repeat:no-repeat; height: 499px; width: 499px">
        <li style="background-image: url('{{ .Site.BaseURL }}images/residential-jobs/residential-6.jpg'); background-position:center; background-size:cover;background-repeat:no-repeat; height: 499px; width: 499px">
        <li style="background-image: url('{{ .Site.BaseURL }}images/residential-jobs/residential-7.jpg'); background-position:center; background-size:cover;background-repeat:no-repeat; height: 499px; width: 499px">
        <li style="background-image: url('{{ .Site.BaseURL }}images/residential-jobs/residential-8.jpg'); background-position:center; background-size:cover;background-repeat:no-repeat; height: 499px; width: 499px">
        <li style="background-image: url('{{ .Site.BaseURL }}images/residential-jobs/residential-9.jpg'); background-position:center; background-size:cover;background-repeat:no-repeat; height: 499px; width: 499px">
        <li style="background-image: url('{{ .Site.BaseURL }}images/residential-jobs/residential-10.jpg'); background-position:center; background-size:cover;background-repeat:no-repeat; height: 499px; width: 499px">
        <li style="background-image: url('{{ .Site.BaseURL }}images/residential-jobs/residential-11.jpg'); background-position:center; background-size:cover;background-repeat:no-repeat; height: 499px; width: 499px">
        <li style="background-image: url('{{ .Site.BaseURL }}images/residential-jobs/residential-12.jpg'); background-position:center; background-size:cover;background-repeat:no-repeat; height: 499px; width: 499px"></li>            
        </li>
    </ul>

{{ end }}

